{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Update profile
{% endblock %}

{% block css_effect %}
    <link rel="stylesheet" href="{% static 'management/form.css' %}">
{% endblock %}

{% block body_content %}

<section>

<a href="{% url 'landing-page' %}"><img src="{% static 'images/ineuron-logo.png' %}" alt="Ineuron icon"></a>
<div class="messages" id="error_class">
    <span id="error">{{ message }}</span>
</div>

<form action="updated" method="post">
    {% csrf_token %}
    <h2>Update your profile:</h2>
    <label>Your Student ID: {{ student.id }}</label>
    <input type="hidden" name="student_id" value="{{ student.id }}">
    <label>Your Email address: <br><span style="color: green; font-size: 120%;">{{ student.student_email }}</span></label>
    <label for="id_student_name">Update your name:</label>
    <input type="text" class="form-control" value="{{ student.student_name }}" name="student_name" id="id_student_name">
   
    {% if student.student_category == 'bachelor-of-arts' %}
        <label for="id_category" style="color: green;">Selected: Bachelor of Arts</label>
    {% elif student.student_category == 'bba/bms' %}
        <label for="id_category" style="color: green;">Selected: BBA/BMS</label>
    {% elif student.student_category == 'btech-bachelor-of-engg./tech' %}
        <label for="id_category" style="color: green;">Selected: Bachelor of Engg./Tech</label>
    {% elif student.student_category == 'bachelor-of-commerce' %}
        <label for="id_category" style="color: green;">Selected: Bachelor of Commerce</label>
    {% elif student.student_category == 'mbbs-bachelor-of-medicine' %}
        <label for="id_category" style="color: green;">Selected: Bachelor of Medicine</label>
    {% elif student.student_category == 'bachelor-of-science' %}
        <label for="id_category" style="color: green;">Selected: Bachelor of Science</label>
    {% elif student.student_category == 'intermediate' %}
        <label for="id_category" style="color: green;">Selected: Intermediate</label>
    {% elif student.student_category == 'ssc-10th-standard' %}
        <label for="id_category" style="color: green;">Selected: 10th-Standard</label>
    {% else %}
        <label for="id_category" style="color: green;">No category selected</label>
    {% endif %}

    <select name="student_category" id="id_student_category" class="form-select">
        <option value=0>select Category</option>
        <option value="bachelor-of-arts">Bachelor of Arts</option>
        <option value="bba/bms">BBA/BMS</option>
        <option value="btech-bachelor-of-engg./tech">Bachelor of Engg./Tech</option>
        <option value="bachelor-of-commerce">Bachelor of Commerce</option>
        <option value="mbbs-bachelor-of-medicine">Bachelor of Medicine</option>
        <option value="bachelor-of-science">Bachelor of Science</option>
        <option value="intermediate">Intermediate</option>
        <option value="ssc-10th-standard">10th-standard</option>
    </select>

    <button type="submit" class="btn btn-success" style="margin-top: 1em;">Update</button>
</form>

</section>

{% endblock %}